{% load static %}
<head>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'sbadmin/css/sb-admin-2.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>

    <!-- Highcharts JavaScript -->
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="https://code.highcharts.com/modules/gray.js"></script>

</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <div>
                <img src="{% static 'images/header_logo_grey_small.jpg' %}" class="img-responsive"
                     style="padding-top: 5px">
            </div>
        </ul>
        <!-- /.navbar-top-links -->
    </nav>


    <div id="page-wrapper">
        <div class="row h-100">
            <div class="col-lg-3">
                <div class="row">
                    <div class="invisible">
                        <div class="panel panel-info">
                            <h5>PlaceHolder</h5>
                        </div>
                    </div>
                </div>
                <div class="row" id="ranking_stats_div" style="display: none">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h2>
                                Recipe
                                <a id="btn_hide_rankingstats" style="float: right">
                                    <i class="fa fa-arrow-right fa-1x" style="color: darkgreen"></i>
                                </a>
                            </h2>
                        </div>
                        <div class="panel-body">
                            <h3>Top 10:</h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Maximum</th>
                                            <th>Median</th>
                                            <th>Minimum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for atti_name,atti_stats_ten in passed_att_stats_topTen.items %}
                                        <tr class="bg-default">
                                            <td>{{ atti_name }}</td>
                                            <td>{{atti_stats_ten.max}}</td>
                                            <td>{{atti_stats_ten.median}}</td>
                                            <td>{{atti_stats_ten.min}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <span><br></span>
                            <h3>Overall:</h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Maximum</th>
                                            <th>Median</th>
                                            <th>Minimum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for atti_name,atti_stats_all in passed_att_stats_all.items %}
                                        <tr class="bg-default">
                                            <td>{{ atti_name }}</td>
                                            <td>{{atti_stats_all.max}}</td>
                                            <td>{{atti_stats_all.median}}</td>
                                            <td>{{atti_stats_all.min}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div> <!-- /.panel-body -->
                    </div> <!-- ./panel -->
                </div> <!-- ./row-->
                <div class="row" id="position_stab_div" style="display: none">
                    {% for i in passed_range_place %}
                    <div class="row">
                        <div class="invisible">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h1>PlaceHolder</h1>
                                </div>
                            </div>
                        </div>
                    </div><!-- ./row-->
                    {% endfor %}
                </div>
                {% for i in passed_range_split %}
                <div class="row">
                    <div class="invisible">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h1>PlaceHolder</h1>
                            </div>
                        </div>
                    </div>
                </div><!-- ./row-->
                {% endfor %}
                <div class="row" id="scatter_div" style="display: none">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2>Stability
                                <a id="btn_hide_scatter" style="float: right"><i class="fa fa-arrow-right fa-1x"></i></a>
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div id="score_scatter" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="panel-footer">
                            {% if passed_slope_overall == "false" %}
                            <h4>Slope at top-10: {{passed_slope_ten}}. Slope at top-100: {{passed_slope_hundred}}.</h4>
                            {% else %}
                            <h4>Slope at top-10: {{passed_slope_ten}}. Slope overall: {{passed_slope_overall}}.</h4>
                            {% endif %}
                            Unstable when absolute value of slope of fit line in scatter plot <=  {{passed_slope_threshold}} (slope threshold). Otherwise it is stable.
                        </div>
                    </div>
                </div>
            </div> <!-- ./left cols -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Ranking Facts</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h2>
                                            <a id="btn_show_rankingstats" style="float: left">
                                                <i class="fa fa-arrow-left fa-1x" style="color: darkgreen"></i>
                                            </a>
                                            &nbsp;Recipe
                                        </h2>

                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Attribute</th>
                                                        <th>Weight</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     {% for atti,atti_weight in passed_att_weights.items %}
                                                    <tr class="bg-default">
                                                        <td>{{ atti }}</td>
                                                        <td>{{ atti_weight }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- /.panel-body -->
                                </div><!-- /.panel panel-success -->
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <h2>Ingredients
                                            <a id="btn_show_correstats" style="float: right">
                                                <span class="fa fa-arrow-right fa-1x" style="color:white"></span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Attribute</th>
                                                        <th>Correlation</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for atti_name,atti_coeff in passed_att_correlated.items %}
                                                    <tr class="bg-default">
                                                        <td>{{ atti_name }}</td>
                                                        <td>{{ atti_coeff.0 }}</td>
                                                        {% if atti_coeff.1 == "high" %}
                                                        <td><i class="fa fa-thermometer-full fa-2x" aria-hidden="true" style="color: red"></i></td>
                                                        {% endif %}
                                                        {% if atti_coeff.1 == "median" %}
                                                        <td><i class="fa fa-thermometer-half fa-2x" aria-hidden="true" style="color: cornflowerblue"></i></td>
                                                        {% endif %}
                                                        {% if atti_coeff.1 == "low" %}
                                                        <td><i class="fa fa-thermometer-empty fa-2x" aria-hidden="true" style="color: grey"></i></td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <div class="panel-footer">
                                        Correlation strength is based on its absolute value. Correlation over {{passed_coef_high}} is high, between {{passed_coef_low}} and {{passed_coef_high}} is medium, under {{passed_coef_low}} is low.
                                    </div>
                                </div> <!-- /. panel panel-green-->
                            </div> <!-- /. col-lg-6-->
                        </div><!-- /. row-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-warning">
                                    <div class="panel panel-heading">
                                        <h2>Diversity at top-10</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                        {% for att_pid in passed_pie_att_ids %}
                                        <div class="col-lg-6">
                                            <div id="{{att_pid | safe}}_topTen_pie"></div>
                                        </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <h2>Diversity overall</h2>
                                    </div>
                                    <div class="panel-body">
                                        {% for att_pid in passed_pie_att_ids %}
                                        <div class="col-lg-6">
                                            <div id="{{att_pid | safe}}_overall_pie"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div><!-- /. col-lg-6 -->
                        </div><!-- /.larger facts row -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h2>
                                            <a id="btn_show_scatter" style="float: left">
                                                <i class="fa fa-arrow-left fa-1x"></i>
                                            </a>
                                            &nbsp;Stability
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Top-K</th>
                                                        <th>Stability</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for top_i,stable_i in passed_stable_res.items %}
                                                    <tr class="bg-default">
                                                        <td>{{top_i}}</td>
                                                        {% if stable_i %}
                                                        <td>Unstable</td>
                                                        {% else %}
                                                        <td>Stable</td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                        <!--<div id="score_scatter" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
                                    </div>
                                </div> <!-- /.panel panel-info -->
                            </div><!-- /.col-lg-12 -->

                            <div class="col-lg-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2>Fairness
                                        <a id="btn_show_fairness" style="float: right">
                                            <i class="fa fa-arrow-right fa-1x" style="color:white"></i>
                                        </a>
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        {% for atti_name,atti_vi_res in passed_fair_res_oracles.items  %}
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>{{atti_name}}</th>
                                                        <th>FA*IR</th>
                                                        <th>Pairwise</th>
                                                        <th>Proportion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for vali,fair_vali in atti_vi_res.items %}
                                                        <tr class="bg-default">
                                                            <td>{{ vali }}</td>
                                                            {% if fair_vali.0 %}
                                                            <td>Fair
                                                                <span class="pull-right">
                                                                <i class="fa fa-check-circle-o fa-2x" style="color:green"></i>
                                                                </span>
                                                            </td>
                                                            {% else %}
                                                            <td>Unfair
                                                                <span class="pull-right">
                                                                <i class="fa fa-times-circle-o fa-2x" style="color:red"></i>
                                                                </span>
                                                            </td>
                                                            {% endif %}
                                                            {% if fair_vali.1 %}
                                                            <td>Fair
                                                                <span class="pull-right">
                                                                <i class="fa fa-check-circle-o fa-2x" style="color:green"></i>
                                                                </span>
                                                            </td>
                                                            {% else %}
                                                            <td>Unfair
                                                                <span class="pull-right">
                                                                <i class="fa fa-times-circle-o fa-2x" style="color:red"></i>
                                                                </span>
                                                            </td>
                                                            {% endif %}
                                                            {% if fair_vali.2 %}
                                                            <td>Fair
                                                                <span class="pull-right">
                                                                <i class="fa fa-check-circle-o fa-2x" style="color:green"></i>
                                                                </span>
                                                            </td>
                                                            {% else %}
                                                            <td>Unfair
                                                                <span class="pull-right">
                                                                <i class="fa fa-times-circle-o fa-2x" style="color:red"></i>
                                                                </span>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                        {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        Unfair when p-value of corresponding statistical test <= {{passed_alpha_default}}.
                                    </div>
                                </div> <!-- /.panel panel-info -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /. larger facts row -->
                    </div> <!-- /. facts panel-body -->
                </div> <!-- facts panel-->
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="invisible">
                        <div class="panel panel-info">
                            <h5>PlaceHolder</h5>
                        </div>
                    </div>
                </div>
                <div class="row" id="corre_stats_div" style="display: none">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h2>
                                <a id="btn_hide_correstats" style="float: left"><i class="fa fa-arrow-left fa-1x" style="color:white"></i></a>
                                &nbsp; Ingredients
                            </h2>
                        </div>
                        <div class="panel-body">
                            <h3>Top 10:</h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Maximum</th>
                                            <th>Median</th>
                                            <th>Minimum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for atti_name,corre_atti_stats in corre_att_stats_topTen.items %}
                                        <tr class="bg-default">
                                            <td>{{ atti_name }}</td>
                                            <td>{{corre_atti_stats.max}}</td>
                                            <td>{{corre_atti_stats.median}}</td>
                                            <td>{{corre_atti_stats.min}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <span><br></span>
                            <h3>Overall:</h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Maximum</th>
                                            <th>Median</th>
                                            <th>Minimum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for atti_name,corre_atti_stats_all in corre_att_stats_all.items %}
                                        <tr class="bg-default">
                                            <td>{{ atti_name }}</td>
                                            <td>{{corre_atti_stats_all.max}}</td>
                                            <td>{{corre_atti_stats_all.median}}</td>
                                            <td>{{corre_atti_stats_all.min}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div> <!-- /.panel-body -->
                    </div> <!-- ./panel -->
                </div> <!-- ./row-->
                <div class="row" id="position_fair_div" style="display: none">
                    {% for i in passed_range_place %}
                    <div class="row">
                        <div class="invisible">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h1>PlaceHolder</h1>
                                </div>
                            </div>
                        </div>
                    </div><!-- ./row-->
                    {% endfor %}
                </div>
                {% for i in passed_range_split %}
                <div class="row">
                    <div class="invisible">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h1>PlaceHolder</h1>
                            </div>
                        </div>
                    </div>
                </div><!-- ./row-->
                {% endfor %}
                <div class="row" id="fairness_div" style="display: none">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>
                                <a id="btn_hide_fairness" style="float: left"><i class="fa fa-arrow-left fa-1x" style="color:white"></i></a>
                                &nbsp;Fairness
                            </h2>
                        </div>
                        <div class="panel-body">
                            {% for atti_name,atti_vi_res in passed_fair_all_oracles.items  %}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">{{atti_name}}</th>
                                            <th colspan="2" class="text-center">FA*IR</th>
                                            <th colspan="2" class="text-center">Pairwise</th>
                                            <th colspan="2" class="text-center">Proportion</th>
                                        </tr>
                                        <tr>
                                            <th>p-value</th>
                                            <th>adjusted &alpha;</th>
                                            <th>p-value</th>
                                            <th>&alpha;</th>
                                            <th>p-value</th>
                                            <th>&alpha;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vali,fair_vali in atti_vi_res.items %}
                                            <tr class="bg-default">
                                                <td>{{ vali }}</td>
                                                <td>{{ fair_vali.0 }}</td>
                                                <td>{{ fair_vali.1 }}</td>
                                                <td>{{ fair_vali.2 }}</td>
                                                <td>{{ fair_vali.3 }}</td>
                                                <td>{{ fair_vali.4 }}</td>
                                                <td>{{ fair_vali.5 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            Top K = {{passed_top_k}} in FA*IR and Proportion oracles.
                            Setting of top K: In FA*IR and Proportion oracle, if N > 200, set top K =100. Otherwise set top K = 50%N. Pairwise oracle takes whole ranking as input.
                            FA*IR is computed as using code in <a href="https://github.com/MilkaLichtblau/FA-IR_Ranking">FA*IR codes</a>.
                            Proportion is implemented as statistical test 4.1.3 in <a href="https://arxiv.org/abs/1511.00148">Proportion paper</a>.
                        </div>
                    </div>
                </div> <!-- ./row-->
            </div><!-- ./col-lg-3 -->

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-inline" align="center">
                            {% if passed_unprocessing_flag %}
                            <a href="{% url 'rankingfacts:data_process' %}" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-menu-left"></span>
                                Previous step (Parameter Settings)</a>
                            {% else %}
                            <a href="{% url 'rankingfacts:norm_process' %}" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-menu-left"></span>
                                Previous step (Parameter Settings)</a>
                            {% endif %}
                            <a href="{% url 'rankingfacts:base' %}" class="btn btn-default btn-lg">
                                Upload new data
                                <span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- /pie chart data using highcharts-->
<script type="text/javascript" language="javascript">
    var piechart_Url = "{% url 'rankingfacts:json_piechart_data' %}";
    var data_ids = ["topTen","overall"];
    var piecharts_atts = {{passed_pie_atts | safe}};
    var pit_att_ids = {{passed_pie_att_ids | safe}};
    // TODO: add the series name for pie chart
     $(document).ready(function () {
         // generate pie charts
        $.getJSON(piechart_Url, function (data) {
            for (ai in piecharts_atts) {
                var cur_att = piecharts_atts[ai];
                for (di in data_ids) {
                    var cur_id = data_ids[di];
                    // get the div id for pie chart
                    var cur_div_id =  pit_att_ids[ai] + "_" +cur_id + "_pie";
                    Highcharts.chart(cur_div_id, {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: cur_att
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            name: '',
                            colorByPoint: true,
                            data: data[cur_att][cur_id]
                        }]
                    });
                }
            }

        });

     });

</script>

<!-- /panel action -->
<script type="text/javascript" language="javascript">

    $("#btn_show_rankingstats").click(function(e){
        document.getElementById("ranking_stats_div").style.display = 'inline';
        // hide the place holder
        document.getElementById("position_stab_div").style.display = "none";
    });
    $("#btn_hide_rankingstats").click(function(e){
        document.getElementById("ranking_stats_div").style.display = 'none';
        // show the place holder
        document.getElementById("position_stab_div").style.display = "inline";
    });

    $("#btn_show_correstats").click(function(e){
        document.getElementById("corre_stats_div").style.display = 'inline';
        // hide the place holder
        document.getElementById("position_fair_div").style.display = "none";
    });
    $("#btn_hide_correstats").click(function(e){
        document.getElementById("corre_stats_div").style.display = 'none';
        // show the place holder
        document.getElementById("position_fair_div").style.display = "inline";
    });

    $("#btn_show_fairness").click(function(e){
        document.getElementById("fairness_div").style.display = 'inline';
        // show place holder div for proper position
        var style_corre_panel = document.getElementById("corre_stats_div").style.display;
        if (style_corre_panel == "none"){
            document.getElementById("position_fair_div").style.display = "inline";
        }
        else{
            document.getElementById("position_fair_div").style.display = "none";
        }
    });
    $("#btn_hide_fairness").click(function(e){
        document.getElementById("fairness_div").style.display = 'none';
    });

    $("#btn_hide_scatter").click(function(e){
        document.getElementById("scatter_div").style.display = 'none';
    });

    $("#btn_show_scatter").click(function(e){
        document.getElementById("scatter_div").style.display = 'inline';
        // show place holder div for proper position
        var style_ranking_panel = document.getElementById("ranking_stats_div").style.display;
        if (style_ranking_panel == "none"){
            document.getElementById("position_stab_div").style.display = "inline";
        }
        else{
            document.getElementById("position_stab_div").style.display = "none";
        }

        // get data of scatter plot
        var chartUrl = "{% url 'rankingfacts:json_scatter_score' %}";
        $.getJSON(chartUrl, function (data) {
            $('#score_scatter').highcharts({
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Stability'
                },
                subtitle: {
                    text: 'ranked on generated scores (top 100)'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Rank Position'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'Generated Score'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: 'Ranked at {point.x} , with generated score {point.y} '
                        }
                    }
                },
                series: [{
                    name: 'Generated Score',
                    color: 'rgba(223, 83, 83, .5)',
                    data: data
                }]
            });
        });
    });

</script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Flot Charts JavaScript -->
<script src="{% static 'flot/excanvas.min.js' %}"></script>
<script src="{% static 'flot/jquery.flot.js' %}"></script>
<script src="{% static 'flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
<!--<script src="{% static 'flot/flot-data_cs.js' %}"></script>-->

</body>